.vscode
.vs

releases/
test

server/bin/**
server/bin/*
server/bin

client/bin/**
client/obj/*
client/obj

server/obj/**
server/obj/*
server/obj

client/obj/**
client/obj/*
client/obj

server/publish/**
server/publish/*
server/publish

client/publish/**
client/publish/*
client/publish

test

*.nupkg
*.dll

server-client-framework.*